<!DOCTYPE html>
<html>
    
    <head>
        <title>GME Stock Price</title>
        <style>
            body {
              background-image: url('https://wallpaperset.com/w/full/1/a/3/8568.jpg');
            }
            </style>
        <link rel="icon" href="https://styles.redditmedia.com/t5_2th52/styles/communityIcon_ol74atn322591.png">
    </head>
    <body>
        <h1 style="color:orange;font-size:80px;">Current GME Stock Price is: <strong>{{gme_price}}</strong> $</h1>
        <p><font size="30px"><a href="https://finance.yahoo.com/quote/GME?fr=sycsrp_catchall">For verification click here</a></p>
        <img src="https://i.pinimg.com/originals/82/ef/9d/82ef9d31685c3c23b69cf921a0a54df5.jpg" alt="Wall Street Bets!" width="400" height="333" />
        <h1 style="color:brown;font-size:25px;">Developed by Onat Kaya</h1>
        <p><font size="5px"><a href="https://github.com/onatkaya/">Check my Github!</a></p>
    </body>
</html>

